Hello world! Julia is stupid!!!!

Hello world! PARA PARA PRARA