---
title: "Test Report"
output: 
  odt_document:
    template: "odt.template.xml"
    reference_odt: "reference_file.odt"
    keep_md: TRUE
---



# IDEs shares

Here's shares of some IDEs from the last StackOverflow survey


#### IDE


Note, it was question with checkboxes. Sum of shares may be more than 100%.


-----------------------------------------
values     shares   lower CI   upper CI  
---------- -------- ---------- ----------
Atom       18%      18%        19%       

Xcode      11%      10%        11%       

Komodo     1%       1%         1%        

Vim        27%      27%        28%       

NetBeans   8%       8%         8%        

Emacs      5%       5%         6%        
-----------------------------------------

# Languages shares

Here's shares of some programming languages from the last StackOverflow survey


#### Programming language


Note, it was question with checkboxes. Sum of shares may be more than 100%.


-------------------------------------------
values         shares   lower CI   upper CI
------------ -------- ---------- ----------
Java              78%        77%        78%

Python            32%        32%        33%

PHP               28%        28%        29%

JavaScript        63%        63%        64%

R                 14%        14%        14%
-------------------------------------------



#### "Programming language" VS "IDE"


Note, it was question with checkboxes. Sum of shares may be more than 100%.


---------------------------------------------------
values     Java   Python   PHP   JavaScript   R    
---------- ------ -------- ----- ------------ -----
Atom       21%    22%      23%   22%          28%  

Xcode      10%    11%      11%   10%          12%  

Komodo     1%     1%       1%    1%           1%   

Vim        27%    42%      28%   27%          42%  

NetBeans   9%     7%       15%   9%           6%   

Emacs      5%     9%       4%    4%           10%  
---------------------------------------------------

Vim is pretty popular among R and Python users. 42% of Python developers use Vim. 


#### "IDE" VS "Programming language"


Note, it was question with checkboxes. Sum of shares may be more than 100%.


-------------------------------------------------------------
values         Atom   Xcode   Komodo   Vim   NetBeans   Emacs
------------ ------ ------- -------- ----- ---------- -------
Java            87%     74%      78%   77%        91%     67%

Python          38%     31%      51%   49%        29%     54%

PHP             35%     30%      52%   29%        54%     19%

JavaScript      76%     59%      70%   62%        69%     50%

R               22%     16%      18%   22%        10%     27%
-------------------------------------------------------------

Emacs has the lowest share of Java developers.
